@import 'zeppelin.scss';

@include reset;

body {
  background-color: $blue-black;
  color: $off-white;
}

.topper {
  @include fixed-nav($charcoal, shade);
  p {
    @include vert-margin(6px);
    @include smooth;
    @include size(25px);
    border: 2px solid $off-white;
    display: inline-block;
    font-weight: 900;
    text-align: center;
  }
}

div {
  float: left;
}

.wrap {
  @include container();
  @include vert-margin(20px);
  @include smooth;
  background-color: $light-grey;
  padding: 20px;
  text-align: center;
}

.header {
  font-size: 2em;
  @include center;
}

.test {
  @include span(12);
  @include vert-margin(20px);
  @include smooth;
  background: $purple;
  height: 100px;
}

.two {
  @include span(6);
  @include vert-margin(20px);
  @include smooth;
  background: $carrot;
  height: 100px;
}

.three {
  @include span(4);
  @include vert-margin(20px);
  @include smooth;
  background: $blue-grey;
  height: 100px;
}

.four {
  @include span(3);
  @include vert-margin(20px);
  @include smooth;
  background: $light-blue;
  height: 100px;
}

.six {
  @include span(2);
  @include vert-margin(20px);
  @include smooth;
  background: $yellow;
  height: 100px;
}

.half {
  @include span(6);
  @include vert-margin(20px);
  @include slide(6);
  @include smooth;
  background: $turquoise;
  height: 100px;
}

.bt {
  font-size: 1em;
  @include button(pill);
  @include span(2);
  @include slide(-4);
  margin-bottom: 15px;
}

.stuff {
  @include span(2);
  @include slide(-4);
  @include input;
}

.uno {
  @include button($red, float);
}

.dos {
  @include button($orange, float);
}

.tres {
  @include button($yellow, float);
}

.cuatro {
  @include button($green, float);
}

.cinco {
  @include button($blue, float);
}

.cinco-dos {
  @include button($light-purple, float);
}

.seis {
  @include button($purple, float);
}

.mesa {
  @include row;
  @include striped-table;
  color: $charcoal;
}

.ribboner {
  @include clearfix;
  @include row;
}

.rib {
  @include row;
  @include ribbon($red, 22px);
}
