@import "zeppelin.scss";

body{
  font-size:1.5em;
  background-color:$blue-black;
  font-family: helvetica;
  color: $off-white;
}
div{
  float: left;
}

.wrap {
  background-color: $light-grey;
  text-align: center;
  @include container();
  padding: 20px;
  @include smooth;
  @include vert-margin(20px);
}

.header{
  font-size:2em;
  @include center;
}
.test{
  @include span(12);
  @include vert-margin(20px);
  height: 100px;
  background: $purple;
  @include smooth
}
.two {
  @include span(6);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $carrot;
}

.three {
  @include span(4);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $blue-grey;
}

.four {
  @include span(3);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $light-blue;
}

.six {
  @include span(2);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $yellow;
}

.half {
  @include span(6);
  @include vert-margin(20px);
  @include slide(6);
  @include smooth;
  background: $turquoise;
  height: 100px;
}

.bt {
  @include span(2);
  @include slide(-4);
  @include vert-margin(15px);
  font-size: .8em;
  @include button($blue, $off-white, inverse);
}

.stuff{
  @include span(2);
  @include slide(-4);
  @include input;
}

.uno{
  @include button($red, float);
}

.dos {
  @include button($orange, float);
}

.tres {
  @include button($yellow, float);
}

.cuatro {
  @include button($green, float);
}

.cinco {
  @include button($blue, float);
}

.seis {
  @include button($purple, float);
}

.mesa {
  @include row;
  @include hover-table;
  color: $charcoal;
}
.ribboner{
  @include clearfix;
  @include row;
}
.rib {
  @include row;
  @include ribbon($red, 22px);
}
