body {
  margin: 0;
  padding-top: 25px;
  font-size: 16px;
  font-family: helvetica, sans-serif;
  background-color: #fdfdfd;
  color: #222; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1.125em; }

body {
  background-color: #2c3e50;
  color: #fdfdfd; }

.topper {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 1.25em;
  font-weight: 700;
  background-color: #555;
  color: #fdfdfd;
  box-shadow: 0px 2px 10px #222; }
  .topper p {
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 6px;
    height: 25px;
    width: 25px;
    display: inline-block;
    text-align: center;
    border: 2px solid #fdfdfd;
    font-weight: 900; }

div {
  float: left; }

.wrap {
  background-color: #95a5a6;
  text-align: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px; }

.header {
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.test {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 98.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  background: #8e44ad;
  border-radius: 6px; }
  .test:after {
    content: "";
    display: table;
    clear: both; }

.two {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 48.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 100px;
  background: #e67e22; }

.three {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 31.83333%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 100px;
  background: #34495e; }

.four {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 23.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 100px;
  background: #3498db; }

.six {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 15.16667%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  height: 100px;
  background: #f1c40f; }

.half {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 48.5%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50.5%;
  border-radius: 6px;
  background: #1abc9c;
  height: 100px; }

.bt {
  font-size: 1em;
  padding: .5em 1em;
  border-radius: 10px;
  background-color: #fdfdfd;
  color: #555;
  border: 1px solid #555;
  padding-left: 2em;
  padding-right: 2em;
  border-radius: 20px;
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 15.16667%;
  margin-right: 33.83333%;
  margin-bottom: 15px; }
  .bt:hover {
    background-color: #e4e4e4; }

.stuff {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 15.16667%;
  margin-right: 33.83333%;
  box-shadow: inset 0px 0px 2px #555;
  height: 2.5em;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: .5em; }
  .stuff:focus {
    box-shadow: 0px 0px 10px #3498db;
    outline: none; }

.uno {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #e74c3c;
  color: #555;
  border: 1px solid #222;
  border: 0;
  border-radius: 0;
  color: #222;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .uno:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.dos {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #f39c12;
  color: #555;
  border: 1px solid #222;
  border: 0;
  border-radius: 0;
  color: #222;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .dos:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.tres {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #f1c40f;
  color: #555;
  border: 1px solid #222;
  border: 0;
  border-radius: 0;
  color: #222;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .tres:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.cuatro {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #27ae60;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border: 0;
  border-radius: 0;
  color: #fdfdfd;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .cuatro:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.cinco {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #2980b9;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border: 0;
  border-radius: 0;
  color: #fdfdfd;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .cinco:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.cinco-dos {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #9b59b6;
  color: #555;
  border: 1px solid #222;
  border: 0;
  border-radius: 0;
  color: #222;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .cinco-dos:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.seis {
  padding: .25em 1em;
  text-align: center;
  border-radius: 10px;
  background-color: #8e44ad;
  color: #fdfdfd;
  border: 1px solid #fdfdfd;
  border: 0;
  border-radius: 0;
  color: #fdfdfd;
  text-decoration: none;
  text-shadow: -1px -1px 1px #616161;
  position: relative;
  padding: 15px 30px;
  box-shadow: 5px 5px 0 #666;
  transition: all 0.3s ease;
  margin: 0 10px 10px 0; }
  .seis:hover {
    box-shadow: 0px 0px 0 #666;
    top: 5px;
    left: 5px; }

.mesa {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 98.5%;
  border-spacing: 0;
  color: #555; }
  .mesa:after {
    content: "";
    display: table;
    clear: both; }
  .mesa tbody td {
    border-top: 1px solid #d4d4d4;
    text-align: left; }
  .mesa tbody tr:nth-child(odd) {
    background-color: #eee; }
  .mesa tbody tr:nth-child(even) {
    background-color: #fdfdfd; }
  .mesa thead th {
    text-align: left;
    border-bottom: 2px #d4d4d4 solid;
    background-color: #fdfdfd; }

.ribboner {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 98.5%; }
  .ribboner:after {
    content: "";
    display: table;
    clear: both; }
  .ribboner:after {
    content: "";
    display: table;
    clear: both; }

.rib {
  box-sizing: border-box;
  margin-right: 0.5%;
  margin-left: 0.5%;
  width: 98.5%;
  font-size: 22px !important;
  width: 50%;
  position: relative;
  background: #e74c3c;
  color: #222;
  text-align: center;
  padding: 1em 2em;
  margin: 2em auto 3em; }
  .rib:after {
    content: "";
    display: table;
    clear: both; }
  .rib:before, .rib:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid #e74c3c; }
  .rib:before {
    left: -2em;
    border-right-width: 1.5em;
    border-left-color: transparent; }
  .rib:after {
    right: -2em;
    border-left-width: 1.5em;
    border-right-color: transparent;
    z-index: -1; }
  .rib > *:before, .rib > *:after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: #a82315 transparent transparent transparent;
    bottom: -1em; }
  .rib > *:before {
    left: 0;
    border-width: 1em 0 0 1em; }
  .rib > *:after {
    right: 0;
    border-width: 1em 1em 0 0;
    z-index: +1; }

/*# sourceMappingURL=main.css.map */
