@import "zeppelin.scss";
@include reset;

body{

  background-color:$blue-black;
  color: $off-white;
}

.topper {
  @include fixed-nav(shade);
  background: $charcoal;
  p{
    @include vert-margin(6px);
    @include smooth;
    display: inline-block;
    @include size(25px);
    text-align: center;
    border: 2px solid $off-white;
    font-weight: 900;
  }
}
div{
  float: left;
}

.wrap {
  background-color: $light-grey;
  text-align: center;
  @include container();
  padding: 20px;
  @include smooth;
  @include vert-margin(20px);
}

.header{
  font-size:2em;
  @include center;
}
.test{
  @include span(12);
  @include vert-margin(20px);
  height: 100px;
  background: $purple;
  @include smooth
}
.two {
  @include span(6);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $carrot;
}

.three {
  @include span(4);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $blue-grey;
}

.four {
  @include span(3);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $light-blue;
}

.six {
  @include span(2);
  @include vert-margin(20px);
  @include smooth;
  height: 100px;
  background: $yellow;
}

.half {
  @include span(6);
  @include vert-margin(20px);
  @include slide(6);
  @include smooth;
  background: $turquoise;
  height: 100px;
}

.bt {
  font-size: 1em;
  @include button($blue, $off-white, inverse);
  @include slide(-4);
}

.stuff{
  @include span(2);
  @include slide(-4);
  @include input;
}

.uno{
  @include button($red, float);
}

.dos {
  @include button($orange, float);
}

.tres {
  @include button($yellow, float);
}

.cuatro {
  @include button($green, float);
}

.cinco {
  @include button($blue, float);
}

.cinco-dos {
  @include button($light-purple, float);
}

.seis {
  @include button($purple, float);
}

.mesa {
  @include row;
  @include hover-table;
  color: $charcoal;
}
.ribboner{
  @include clearfix;
  @include row;
}
.rib {
  @include row;
  @include ribbon($red, 22px);
}
