// COLORS

// All flat web-friendly colors
$turquoise: #1abc9c;
$dark-urquoise: #16a085;
$light-green: #2ecc71;
$green: #27ae60;
$light-blue: #3498db;
$blue: #2980b9;
$light-purple: #9b59b6;
$purple: #8e44ad;
$yellow: #f1c40f;
$carrot: #e67e22;
$orange: #f39c12;
$dark-orange: #d35400;
$red: #e74c3c;
$dark-red: #c0392b;
$soft-white: #ecf0f1;
$soft-grey: #bdc3c7;
$light-grey: #95a5a6;
$grey: #7f8c8d;
$blue-grey: #34495e;
$blue-black: #2c3e50;

//common colors
$off-white: #fdfdfd;
$off-black: #222;
$charcoal: #555;
$smoke: #ccc;
$slight-grey: #ddd;
$e3: #eee;

//NUMBERS
$gutter: .5%;
