@require "variables.styl"
.smooth 
    border-radius 6px

.bg-emerald
    background-color emerald

.bg-white 
    background-color white

.box 
    width 60%
    margin-left 20%
    margin-right 20%
    min-height 300px